/* This is the CSS file for the Whitewater Rafting Pages */
/* WDD 130 W03 */
/* James Leight */

:root {
    --primary-color: rgb(12, 61, 12); /* Dark Background */
    --secondary-color: rgb(238, 174, 56); /* Light Background */
    --accent1-color: rgb(58, 59, 41); /* Dark Body text Color */
    --accent2-color: rgb(216, 207, 77); /* Light Body text Color */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Ariel, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body section p {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    border-bottom: 2px var(--secondary-color) dashed;
    width: 840px;
    margin: 0 auto;
    /* color: var(--accent1-color); */
}

header nav {
    justify-self: center;
    width: 480px;
}

header img {
    margin: 10px;
    width: 150px;
    height: auto;
    justify-self: center;
}

main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
}

h1, h2 {
    /* font-family: var(--heading-font); */
    /* color: var(--accent1-color); */
}

nav {
    margin: 10px;
    padding: 1px;
}

article p {
    margin: 20px;
    padding: 0px;
}

section {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 0 10px;
}

section p {
    padding: 0px;
}

section img {
    width: 160px;
    height: auto;
    place-self: center;
}

section h2 {
    margin: 10px;
    border: 1px #fff solid;
    grid-column-start: 2;
    align-content: center;
    place-self: center;
}

footer img {
    width: 10%;
    height: auto;
}

/* Class defintions */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10px;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    margin: 0;
    top: 380px;
    width: 100%;
    padding: 0px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 200px;
    padding: 8px;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navlist a {
    display: block;
    width: 120px;
    height: auto;
    border: 1px var(--secondary-color) solid;
    border-radius: 2px;
    margin: 0px;
    padding: 7px 5px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.adventure section {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 0 10px;
}