/* This is the CSS file for the Whitewater Rafting Pages */
/* WDD 130 W03 */
/* James Leight */

:root {
    --primary-color: rgb(12, 61, 12); /* Dark Background */
    --secondary-color: rgb(238, 174, 56); /* Light Background */
    --accent1-color: rgb(58, 59, 41); /* Dark Body text Color */
    --accent2-color: rgb(216, 207, 77); /* Light Body text Color */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Ariel, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body section p {

}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    border-bottom: 2px var(--secondary-color) dashed;
    width: 840px;
    margin: 0 auto;
    /* color: var(--accent1-color); */
}

header nav {
    justify-self: center;
    width: 480px;
}

header img {
    margin: 10px;
    width: 150px;
    height: auto;
    justify-self: center;
}

main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
}

h1, h2 {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

nav {
    margin: 10px;
    padding: 1px;
}

article p {
    margin: 20px;
    padding: 0px;
}

section p {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

.history {
    display: grid;
    grid-template-rows: 20px 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    text-align: left;
    gap: 0 5px;
    margin: 10px;
    border-bottom: 2px var(--secondary-color) dashed;
}

.history p {
    border-radius: 5px;
}

.history img {
    width: 210px;
    height: auto;
    place-self: center;
    border-radius: 5px;
}

.history h2 {
    margin: 10px;
    grid-column-start: 2;
    place-self: center;
}

.adventureheader {
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    justify-items: center;
    text-align: center;
    gap: 0 5px;
    margin: 10px;
    border-bottom: 2px var(--secondary-color) dashed;
}

.adventure figure {
    grid-row-start: 2;
    align-content: start;
    color: var(--accent1-color);
    font-size: 1rem;
    margin: 0px 0px 10px 0px;
}

.adventure img {
    width: 150px;
    height: auto;
    place-self: center;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
}

footer nav a {
    width: 40px;
    justify-self: space-between;
    text-decoration: none;
}

footer img {
    width: 100%;
    height: auto;
}

footer p {
    justify-self: center;
    font-size: 1rem;
}

/* Class defintions */

.hero {
    position: relative;
    margin: 10px;
    border-bottom: 2px var(--secondary-color) dashed;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: .8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
}

.hero article {
    position: absolute;
    margin: 0;
    top: 380px;
    width: 100%;
    padding: 0px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 200px;
    padding: 8px;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navlist a {
    display: block;
    width: 120px;
    height: auto;
    border: 1px var(--secondary-color) solid;
    border-radius: 2px;
    margin: 0px;
    padding: 7px 5px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.socialmedia {
    text-decoration: none;
}