/* This is the CSS file for the Whitewater Rafting Pages */
/* WDD 130 W03 */
/* James Leight */

:root {
    --primary-color: rgb(12, 61, 12); /* Dark Background */
    --secondary-color: rgb(238, 174, 56); /* Light Background */
    --accent1-color: rgb(58, 59, 41); /* Dark Body text Color */
    --accent2-color: rgb(216, 207, 77); /* Light Body text Color */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Ariel, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

body section p {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    color: black;

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 10px;
    padding: 0px;
}

footer img {
    width: 10%;
    height: auto;
}

/* Class defintions */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 10px;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    margin: 0;
    top: 410px;
    width: 100%;
    padding: 0px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 200px;
    padding: 8px;
}
