/* This is the CSS file for my home page */
/* James Leight */

:root {
    --border-color: #900;
    --border-color2: rgb(0, 0, 139);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Roboto, Ariel, sans-serif;
}

main {
    grid-column: 2 / 3;
    margin: 2rem;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid var(--border-color2);
    padding: .3em ;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0px 0px 1rem 1rem;
}

aside{
    max-width: 840px;
    margin: auto;
    width: 10rem;
    text-align: justify;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
}

aside h2 {
    position: absolute;
    top: 8%;
    left: 45%;
}

nav {
    background-color: var(--border-color2);
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: .2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .5rem;
}
h1 {
    color: var(--border-color2);
    padding: .1rem;
    margin: 1rem;
    border-bottom: #1497b8;

}

p {
    margin: 1rem 0rem;
    width: 100%;
    padding: 0;
}

footer {
    border-top: 2px solid var(--border-color);
    text-align: center;
}

header {
    text-align: left;
}

header, footer .grid {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    max-width: 840px;
    width: 100%;
    margin: 0rem;
    border: 1rem solid rgb(0, 0, 0 / 10%);
    padding: 1.5rem;
    background-color: rgb(134, 245, 217);
    color: rgb(43, 37, 33);
    box-shadow: 0 0 10px gray;

}

.indent {
    margin-left: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}